{% extends "base.html" %}
{% block title %}Login | StayIN{% endblock %}
{% block content %}
<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Login</h2>
    <p class="muted">Welcome back! Log in to continue.</p>

    <form method="POST" action="{{ url_for('login') }}">
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Enter your email" required>

      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Enter your password" required>

      <button class="auth-btn" type="submit">Login</button>
    </form>

    <p class="auth-bottom-text">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
  </div>
  <div class="text-center mt-3">
    <a href="{{ url_for('login_google') }}" class="google-btn">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" 
             alt="Google" class="google-icon">
        Continue with Google
    </a>
</div>

</div>


{% endblock %}
